@page "/"

<PageTitle>Home</PageTitle>

<h4 class="text-md-start text-black">Hello, this is a application for make a CRUD using Blazor, Entity Framework and SQL Server</h4>

Welcome to Super Heroes register app.
